# Flutter build dosyaları
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/ios/Flutter/Flutter.framework
flutter_app/ios/Flutter/Flutter.podspec
flutter_app/pubspec.lock

# Android build dosyaları
flutter_app/android/.gradle/
flutter_app/android/app/build/
flutter_app/android/local.properties

# iOS build dosyaları
flutter_app/ios/Pods/
flutter_app/ios/.symlinks/
flutter_app/ios/Flutter/Flutter.podspec
flutter_app/ios/Flutter/Flutter.framework
flutter_app/ios/ServiceDefinitions.json

# IDE / editör dosyaları
*.iml
.idea/
.vscode/
*.log

# ROS build dosyaları
robot_code/build/
robot_code/devel/
robot_code/log/
